body{
    
    background: linear-gradient(to bottom right, #a2dfe8, #6db3bd, #30666e);
}

#drawn_sketch{
    font-size: 25px;
}

#accuracy{
    font-size: 25px;
}

#score{

    font-size: 30px;
    float: left;
    margin-left: 50px;
}

#time_taken{

  font-size: 30px;
  float: right;
  margin-right: 50px;

}

#given_sketch{

    font-size: 30px;
    color: #bbeda8;

}

#header{

    font-size: 40px;
    color: #2e6e70;
    margin-top: 25px;

 
}

b{
  margin-left: 120px;
}


#show_sketch
{
  float:right;
  margin-right: 50px;
}

canvas 
  {
    border:5px solid white;
    border-radius:20px;
    margin-top:150px;
    box-shadow:5px 5px 5px grey;
    box-shadow: 1px 1px 38px #ffffff;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

  from {box-shadow: 1px 1px 38px grey;}
  to {box-shadow: 1px 1px 38px white;}

}

